<% background_image = if Rails.application.assets.find_asset("#{@airport.name.downcase.gsub(' ', '_')}_background.jpg")
                         asset_path("#{@airport.name.downcase.gsub(' ', '_')}_background.jpg")
                       else
                         asset_path("default_background.jpg")
                       end %>

<section style="background-image: url('<%= background_image %>'); background-size: cover; color: white; padding: 20px;">
  <h1><%= @airport.name %></h1>

  <h2>Travel Options</h2>
<ul>
  <li><strong>Recommended:</strong> <%= @airport.recommended %></li>
  <li><strong>Fastest:</strong> <%= @airport.fastest %></li>
  <li><strong>Cheapest:</strong> <%= @airport.cheapest %></li>
</ul>


  <!-- Map Section -->
  <div id="map" style="height: 300px; margin-top: 20px;">
    <iframe
  src="https://www.google.com/maps/embed/v1/directions?key=<%= ENV['GOOGLE_API_KEY'] %>&origin=<%= @airport.name %>&destination=<%= @airport.city %> City Center"
  width="100%"
  height="100%"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
></iframe>

  </div>

  <!-- Sections for Public Transport, Express Train, Taxi, Ride Apps, Tips -->
<h2>Public Transport</h2>
<p><%= @airport.public_transport %></p>

<h2>Express Train</h2>
<p><%= @airport.express_train %></p>

<h2>Taxi</h2>
<p><%= @airport.taxi %></p>

<h2>Ride Apps</h2>
<p><%= @airport.ride_apps %></p>

<h2>Tips</h2>
<ul>
  <li><%= @airport.tips %></li>
</ul>

</section>
